@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter.ttf);
}
@font-face {
  font-family: "Inter bold";
  src: url(./fonts/static/Inter-Bold.ttf);
}

body {
  margin: 0 auto;
  background-color: #f8fafe;
  box-sizing: border-box;
  font-family: "Inter";
}
textarea:focus,
input:focus {
  outline: none;
}
header {
  max-width: 1400px;
  margin: 0 auto;
  font-style: normal;
}
main {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  font-style: normal;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 90px;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 1400px;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 80px;
  align-items: center;
  position: fixed;
  background-color: #f8fafe;
  top: 0;
  z-index: 1;
}
.logo__img {
  width: 37px;
  height: 43px;
}
.logo__text-color {
  color: #ff5722;
}
.logo__text {
  padding-left: 3px;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
}
.bread-crumbs__link {
  font-size: 16px;
  color: #008cf0;
  text-decoration: none;
}
.bread-crumbs__link:hover {
  color: #f36223;
  cursor: pointer;
}
.bread-crumbs {
  padding-top: 100px;
  display: flex;
  gap: 4px;
}
.product-name__text {
  font-size: 32px;
  line-height: 39px;
}
.product-name {
  margin-top: 8px;
}
.product-photo {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 11px;
}
.product-photo__img {
  height: 387px;
}
.product-color {
  display: flex;
  flex-direction: column;
}
.product-color__text {
  font-size: 16px;
  line-height: 19px;
  margin: 20px 0px 10px;
  font-weight: bold;
}
.product-color__select {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.product-color__button {
  box-sizing: border-box;
  padding: 10px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #888888;
  border-radius: 4px;
  background-color: #f8fafe;
}
.product-color__button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.product-color__button:active {
  border: 2px solid #a93a09;
  cursor: pointer;
  padding: 9px 24px;
}
.product-color__img {
  width: 32px;
  height: 60px;
}
.product-info_ul {
  padding-left: 22px;
}
.product-info_li {
  color: #888888; /* Цвет маркеров */
  font-size: 25px;
}

li span {
  color: rgb(0, 0, 0); /* Цвет текста */
  font-size: 16px;
}
.disable-marker {
  list-style-type: none;
}
.select-memory {
  display: flex;
  flex-direction: column;
}
.select-memory__text {
  font-size: 16px;
  line-height: 19px;
  margin: 20px 0px 10px;
  font-weight: bold;
}

.select-memory__buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 0px;
  box-sizing: border-box;
  height: 45px;
}
.select-memory__button {
  padding: 10px 20px;
  border: 1px solid #888888;
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
}
.select-memory__button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.product-color__button--focused {
  border: 2px solid #f36223;
  padding: 9px 24px;
}
.select-memory__button--focused {
  border: 2px solid #f36223;
  padding: 9px 19px;
}
.product-info {
  display: flex;
  flex-direction: column;
}
.product-info__title {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 20px 0px 0px;
  font-weight: bold;
}
.product-info__char {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.product-info__char a {
  font-size: 16px;
  color: #008cf0;
  text-decoration: none;
}
.description {
  padding-bottom: 15px;
}
.description__text {
  font-size: 16px;
  line-height: 19px;
  margin: 20px 0px 10px;
  display: block;
}
.description__paragraf {
  font-size: 16px;
  line-height: 19px;
  margin: 16px 0;
}
.compare-models {
  padding-bottom: 45px;
}
.compare-models__title-text {
  display: block;
  margin-bottom: 15px;
}
.compare-models__table {
  border: 1px solid #888888;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.compare-models__table-td {
  border: 1px solid #888888;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 10px;
}
/* .compare-models__table-tr {
} */
.table-border {
  border-right: 1px solid #888888;
  font-size: 15px;
  line-height: 19px;
  padding: 10px 10px;
}
.compare-models__table-tr--focused:hover {
  background-color: #f2f2f2;
  cursor: default;
}
.sidebar {
  width: 420px;
}
.price-box {
  width: 420px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 30px;
}
.price-box__discount-box {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.price-box__old-price {
  color: #888888;
  text-decoration: line-through;
  font-size: 16px;
  line-height: 16px;
  /* margin: 10px 0px 0px 20px; */
}
.price-box__discount {
  background-color: #f36223;
  border-radius: 500px;
  padding: 4px 8px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 16px;
  color: white;
  text-decoration: none;
}
.price-box__new-price {
  display: block;
  font-size: 32px;
  line-height: 39px;
  margin: 10px 0;
}
.price-box p {
  font-size: 16px;
  line-height: 19px;
  margin: 16px 0px 0px 20px;
}
.price-box__button-add-to-cart {
  background: #f36223;
  border-radius: 4px;
  border: 1px;
  width: 100%;
  padding: 20px 0px;
  color: white;
  font-size: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.price-box__button-add-to-cart:hover {
  background-color: #da4a0c;
  cursor: pointer;
}
.price-box__button-add-to-cart:active {
  background-color: #a93a09;
  cursor: pointer;
}
.price-box__button-add-to-cart::before {
  content: url(./images/cort.svg);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  width: 24px;
  height: 24px;
}
.price-box__delivery {
  display: block;
  margin: 7px 0;
}
.ads-box {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
}

.iframe {
  margin-top: 15px;
  box-sizing: border-box;
  max-width: 420px;
  height: 300px;
  background: #f0f0f0;
  border: 1px dashed #888888;
}
.content-reviews {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 890px;
}
.hr-dashed {
  margin: 20px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 2px dashed #ddd;
}
.reviews {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.reviews-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reviews-autor__photo {
  background-color: transparent;
}
.reviews-autor__img {
  width: 140px;
  height: 140px;
  border-radius: 100%;
}
.reviews-autor {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.text-new-line {
  display: block;
}
.reviews-box__title {
  font-size: 24px;
  font-weight: bold;
}
.reviews-box__num {
  color: #888888;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}
.reviews-box__count {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.reviews-box__button {
  background-color: transparent;
  border: 1px solid #888888;
  border-radius: 4px;
  padding: 0px 20px;

  font-size: 16px;
  line-height: 19px;
}
.rating-stars {
  display: flex;
  gap: 2px;
}
.rating-star__img {
  width: 30px;
  height: 30px;
}
.reviews-box__button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.footer {
  width: 100%;
  height: 100px;
  background: #f2f2f2;
  font-style: normal;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-box {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px;
}
.footer__logo {
  display: block;
  font-size: 16px;
  line-height: 19px;
}
.footer__tel-number {
  display: block;
}
.footer__email {
  display: block;
}
.up-link {
  font-size: 16px;
  color: #008cf0;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.up-link:hover {
  color: #f36223;
  cursor: pointer;
}
.footer__tel-number-link {
  font-size: 16px;
  color: #008cf0;
  text-decoration: none;
}
.footer__tel-number-link:hover {
  color: #f36223;
  cursor: pointer;
}
.footer__email-link {
  font-size: 16px;
  color: #008cf0;
  text-decoration: none;
}
.footer__email-link:hover {
  color: #f36223;
  cursor: pointer;
}
.input-feedback {
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}
.form {
  font-family: "Inter";
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
  margin-left: 170px;
  width: 720px;
}
.form__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin: 40px 0 15px 0;
}
.form__input {
  display: flex;
  flex-direction: column;
}
.form__input-text {
  font-size: 16px;
  border: 1px solid #888888;
  flex-grow: 1;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 0 15px 20px;
}
.form__input-num {
  font-size: 16px;
  border: 1px solid #888888;
  width: 185px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 0 15px 20px;
}
.form__input-text-num {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.form__input-num:hover {
  border: 1px solid #505050;
}
.form__input-textarea:hover {
  border: 1px solid #505050;
  box-shadow: none;
}
.form__input-text:hover {
  border: 1px solid #505050;
}
.form__input-textarea {
  width: 100%;
  height: 190px;
  resize: none;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 20px 15px 20px;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.form__submit-button {
  background: #f36223;
  border-radius: 4px;
  padding: 10px 20px;
  color: white;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
.form__submit-button:hover {
  cursor: pointer;
  background-color: #da4a0c;
}
.select-memory__button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.select-memory__button:active {
  border: 2px solid #a93a09;
  cursor: pointer;
  box-sizing: border-box;
  padding: 9px 19px;
}

@media (max-width: 1499px) {
  .content {
    gap: 20px;
  }
  .compare-models {
    display: none;
  }
  .reviews-autor__img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
  main {
    margin: 0 auto;
    max-width: 1005px;
    padding: 0 15px;
  }
  .rating-star__img {
    width: 20px;
    height: 20px;
  }
  .content-reviews {
    max-width: 554px;
  }
  .form {
    max-width: 554px;
    margin-left: 10px;
  }
  .product-photo__img {
    height: 276px;
  }
  .footer {
    width: 100%;
    margin: 0 10px;
  }
  .footer-box {
    max-width: 1005px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }
  header {
    width: 1005px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .logo {
    width: 1005px;
  }
  .price-box {
    max-width: 320px;
  }
  .sidebar {
    width: 320px;
  }
}
.shopping-cart {
  width: 120px;
  height: 50px;
  position: relative;
}
.favourites {
  position: absolute;
  left: 0px;
  bottom: 5px;
}
.favourites-count {
  position: absolute;
  left: 28px;
  top: 4px;
  display: block;
  padding: 3px 6px 3px 6px;
  border: 1px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  background-color: #f36223;
  color: white;
}
.cart-img {
  position: absolute;
  right: 7px;
  bottom: 0;
}
.cart-count {
  position: absolute;
  right: 0px;
  top: 4px;
  display: block;
  padding: 3px 6px 3px 6px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  background-color: #f36223;
  color: white;
  text-decoration: none;
}

.add-favourites input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.add-favourites input:hover + label svg path {
  fill: #f36223;
}
.add-favourites input:active + label svg path {
  fill: #a93a09;
}
.add-favourites input:checked + label svg path {
  fill: #a93a09;
}
